h1{
    color:aqua;
    text-align: center;
}
thead{
    background-color:bisque;
}
table{
    /*표를 오른쪽으로 정렬*/
    float:right;
    /* 바깥 선 굵기 */
    border: 2px solid #444444;
    /* 안쪽 선 굵기 */
    border-collapse: collapse;
    text-align:center;
}
